/* Force content to full width */
.bd-content, .content {
    max-width: 100% !important;
    width: 100% !important;
}
.wy-nav-content, .document {
    max-width: 100% !important;
    padding: 0 2rem; /* Optional: adjust padding */
}

.bd-page-width {
  max-width: 180rem !important;
  }
@media (min-width: 960px) {
  .bd-page-width {
    max-width: 180rem !important;
  }
}